<div class="row">
    <div class="col-md-6">
      <h2>Please enter your information</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="first-name">First name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First name" name="firstName" tmFocus [(ngModel)]="userRegistration.FirstName">              
            </div>
            <div class="form-group">
                <label for="last-name">Last name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last name" name="lastName" [(ngModel)]="userRegistration.LastName">              
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel  [(ngModel)]="userRegistration.Email">
              <!-- <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small> -->
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="userRegistration.Password">
            </div>   
  
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Sign Up</button>
     
            </div>
  
            <div *ngIf="errors" class="alert alert-danger" role="alert">
                <strong>Oops!</strong> {{errors}}
              </div>               
            
          </form>
     </div>
  </div>